br
br
br
h1.header.center.orange-text Shorten your URL
.row.center
  form#shortener
   .input-field.col.s8.offset-s2
      input placeholder="http://example.com/long/long/very/long-very-long-url" id="url" name="url" type="text" class="validate"
      input type="hidden" name="not_so_secret" value="Fo9DrWKWsvffYV7r^hbQXAtf7v9ax"
   input.waves-effect.waves-light.btn-large type='submit' value='Zip It!'

.row.center
  pre.hide#short_url


javascript:
  $(function(){
    var form$ = $('form#shortener')
    form$.on('submit', function(e) {
      e.preventDefault();

      $.post(
        '/shorten',
        form$.serialize(),
        function(response) {
          console.log(response)
          $('#short_url').html(response).removeClass('hide');
        }
      )

    });
  });

