doctype html
html
  head
    title Anonymous URL shortener
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"
    script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"
    
  body
    main
      .container== yield

    footer.page-footer.grey.darken-3
      div.footer-copyright
        .container All rights reserved!

    css:
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }
